/**********************************************
 * Global CSS styles
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}


/**********************************************
 * Language selection
 */

main[lang="en"] *[lang="nl"] {
    display: none;
}

main[lang="nl"] *[lang="en"] {
    display: none;
}

/**********************************************
 * CSS Reset
 */

html {
    margin: 0;
    padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    color: black;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove default margins */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

