/**********************************************
 * Global CSS styles
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}


/**********************************************
 * Language selection
 */

main[lang="en"] *[lang="nl"] {
    display: none;
}

main[lang="nl"] *[lang="en"] {
    display: none;
}

/**********************************************
 * Common components
 */

x-debug { display: none; }

/**********************************************
 * Standard components / CSS Reset
 */

html {
    margin: 0;
    padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    color: black;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove default margins */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

a {
  text-decoration-skip-ink: auto;
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
  outline: 2px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

