/**********************************************
 * Global CSS styles
 *
 * See: https://tailwindcss.com/docs/preflight
 */

:root {
    --theme-bg: #F2EDE8;
}

html {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

html:focus-within {
    _scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: var(--theme-bg);
    color: #3D3732;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/**********************************************
 * Language selection
 */

main[lang="en"] *[lang="nl"] {
    display: none;
}

main[lang="nl"] *[lang="en"] {
    display: none;
}

/**********************************************
 * Default Markdown Styling
 */

/* top-level elements are given max width */
main > .md {
    max-width: 500px;
    @apply mx-8;
}

h1.md, h2.md, h3.md, h4.md {
    font-weight: bold;
}

h2.md {
    @apply mt-4;
    font-size: 120%;
}

p.md {
    @apply my-4;

    a:link {
        color: blue;
    }

    a:visited {
        color: purple;
    }

    a:hover {
        color: red;
        outline: 2px;
        text-decoration: underline;
    }
}

/**********************************************
 * Custom components
 */

x-debug { display: none; }
    
/**********************************************
 * Dark Mode
 */

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }

    p.md {
        a { 
            color: yellow;
        }

        a:visited {
            color: pink;
        }

        a:hover {
            color: red;
        }
    }
}

