/**********************************************
 * Theme
 */

:root {
    color-scheme: light dark;
    --nav-height: 3rem;
    --ambergris: #3d3732;
    --sandstone: #f2ede8;
    --brown: #6a645f;
}

/**** Light */

@media screen and (prefers-color-scheme: light) {
    :root {
        --theme-text: var(--ambergris);
        --theme-bg: var(--sandstone);
        color-scheme: light;
    }
}

/**** Dark */

@media screen and (prefers-color-scheme: dark) {
    :root {
        --theme-text: var(--sandstone);
        --theme-bg: var(--ambergris);
        color-scheme: dark;
    }

    p.md {
        a { 
            color: yellow;
        }

        a:visited {
            color: pink;
        }

        a:hover {
            color: red;
        }
    }
}

/**********************************************
 * Global CSS styles
 */

html {
    margin: 0;
    padding: 0;
    font-family: "Poppins",
        system-ui,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
}

html:focus-within {
    _scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: var(--theme-bg);
    color: var(--theme-text);
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/**********************************************
 * Language selection
 */

main[lang="en"] *[lang="nl"] {
    display: none;
}

main[lang="nl"] *[lang="en"] {
    display: none;
}

/**********************************************
 * Default Markdown Styling
 */

a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
}

/* top-level elements are given max width */
main > .md {
    max-width: 50rem;
}

h1.md, h2.md, h3.md, h4.md {
    font-weight: bold;
}

h2.md {
    @apply mt-4;
    font-size: 120%;
}

p.md {
    @apply my-4;

    a:link {
        color: blue;
    }

    a:visited {
        color: purple;
    }

    a:hover {
        color: red;
        outline: 2px;
        text-decoration: underline;
    }
}

img.md {
    display: block;
    width: 100%;
}

/**********************************************
 * Custom components
 */

x-debug { display: none; }

.reset {
    border: none;
    background: inherit;
    color: inherit;
    padding: 0;
}

/**********************************************
 * Search
 */

.side img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.side {
    width: 10em;
    position: relative;
    flex: 0 0 auto;
}

.hit mark {
    background: unset;
}
